node_modules/
dist/
build/
*.tsbuildinfo
.turbo/
.next/
.vercel/
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
coverage/
*.log
.env
.env.*
!.env.example
.changeset/.cache/
